div {
  box-sizing: border-box;
}

body {
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

#sketchyPad-container {
  width: 1000px;
  height: 1000px;
  flex-wrap: wrap;
  flex: 0 1 auto;
}
.flex {
  display: flex;
  justify-content: center;
}
.grid-row {
  display: flex;
  width: 100%;
}
.grid-square {
  border: 2px solid black;
  background-color: white;
  width: 100%;
  height: 100%;
}
.grid-btn {
  padding: 10px;
  font-size: 24px;
  margin: 40px 10px;
  border-radius: 5px;
  border: 7px solid royalblue;
  background-color: royalblue;
  color: white;
  transition: all 0.2s linear;
  cursor: pointer;
}

.grid-btn:hover {
  color: black;
  background-color: gold;
  border-color: gold;
  transform: scale(1.2);
}

.myHover {
  color: black;
  background-color: gold;
  border-color: gold;
  transform: scale(1.2);
}
